* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #333;
	color: #ddd;
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1,
p {
	text-align: center;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 687px;
	margin: 0 auto;
	padding: 10px;
	height: 100vh;
}
.text {
	padding: 10px;
	font-size: 18px;
	margin-bottom: 10px;
}
.length-settings {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.length-range {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.copy-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;
	width: 70%;
}
.input-copy-text {
	padding: 10px;
	width: 100%;
	font-size: 18px;
	border: none;
	outline: none;
	filter: blur(2px);
	color: #333;
}
.pass-settings {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.btn-copy {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
#decrement-btn,
#increment-btn {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	border-radius: 50%;
}
input[type='range'] {
	width: 220px;
}
.input-copy-text {
	width: 250px;
}
.copy-text {
	margin-top: 20px;
}
.copy-text button,
button {
	padding: 10px;
	background-color: #5784f5;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}
.copy-text button:active {
	background-color: #809ce2;
}
.copy-text #copy-btn::before {
	content: 'Copied';
	position: absolute;
	top: -50px;
	right: 0;
	background-color: #5c81dc;
	padding: 8px;
	border-radius: 20px;
	font-size: 15px;
	display: none;
}
.copy-text #copy-btn::after {
	content: '';
	display: none;
	position: absolute;
	top: -25px;
	right: 25px;
	width: 10px;
	height: 10px;
	background-color: #5c81dc;
	transform: rotate(45deg);
	z-index: -5;
}
.copy-text.active #copy-btn::before,
.copy-text.active #copy-btn::after {
	display: block;
}

@media (max-width: 550px) {
	.length-settings {
		flex-direction: column;
	}

	.input-copy-text {
		overflow: hidden;
	}
	.copy-text {
		width: 80%;
	}
	.pass-settings {
		gap: 10px;
	}
}
